# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing DataSet

In [2]:
stock_dataset=pd.read_csv("D:/Project/Used dataset/NIFTY50_all.csv",names=["Date","Symbol","Series","Prev_Close","Open","High","Low","Last","Close","VWAP","Volume","Turnover","Trades","Deliverable_Volume","%Deliverble"],skiprows=[0])
stock_dataset.head()

,Date,Symbol,Series,Prev_Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable_Volume,%Deliverble
0,27-11-2007,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2.690000e+15,NaN,9859619.0,0.3612
1,28-11-2007,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,4.310000e+14,NaN,1453278.0,0.3172
2,29-11-2007,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,4.550000e+14,NaN,1069678.0,0.2088
3,30-11-2007,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,4.280000e+14,NaN,1260913.0,0.2735
4,03-12-2007,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,2.880000e+14,NaN,816123.0,0.2741

# Describe Data

In [3]:
stock_dataset.describe()

,Prev_Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable_Volume,%Deliverble
count,235192.000000,235192.000000,235192.000000,235192.000000,235192.000000,235192.000000,235192.00000,2.351920e+05,2.351920e+05,1.203440e+05,2.191150e+05,219115.000000
mean,1266.196349,1267.759708,1286.581440,1247.488465,1266.388302,1266.554351,1267.13230,3.045903e+06,1.610122e+14,6.196427e+04,1.315098e+06,0.502997
std,2581.370320,2585.259609,2619.649216,2546.621396,2581.392543,2582.140942,2582.69998,7.333981e+06,3.297761e+14,6.866457e+04,2.831670e+06,0.190019
min,0.000000,8.500000,9.750000,8.500000,9.100000,9.150000,9.21000,3.000000e+00,1.047000e+07,1.100000e+01,5.000000e+00,0.023600
25%,274.300000,275.000000,279.500000,269.600000,274.400000,274.350000,274.69750,2.190095e+05,1.610000e+13,2.183400e+04,1.253830e+05,0.364700
50%,566.500000,567.025000,576.900000,556.500000,567.000000,566.700000,566.94000,1.010938e+06,6.830000e+13,4.406800e+04,5.017560e+05,0.511000
75%,1242.200000,1243.312500,1263.000000,1221.650000,1242.900000,1242.400000,1242.66250,3.019851e+06,1.860000e+14,7.893550e+04,1.452233e+06,0.638400
max,32861.950000,33399.950000,33480.000000,32468.100000,32849.000000,32861.950000,32975.24000,4.810589e+08,3.560000e+16,1.643015e+06,2.325307e+08,1.000000

# Finding is there any NULL values

In [3]:
stock_dataset.isna().any()

Date                  False
Symbol                False
Series                False
Prev_Close            False
Open                  False
High                  False
Low                   False
Last                  False
Close                 False
VWAP                  False
Volume                False
Turnover              False
Trades                 True
Deliverable_Volume     True
%Deliverble            True
dtype: bool

# List of Columns containing NULL values

In [4]:
stock_dataset.columns[stock_dataset.isna().any()].tolist()

['Trades', 'Deliverable_Volume', '%Deliverble']

# Dropping NULL value

In [5]:
stock_dataset_1=stock_dataset  #Storing Original Dataset 

stock_dataset_1=stock_dataset_1.dropna()

a=stock_dataset_1.isnull().values.any()
if (a==True):
    print("NULL value present in Dataset")
else:
    print("There is no NULL value in Dataset")

There is no NULL value in Dataset

# Checking for NULL value after dropping

In [6]:
stock_dataset_1.isna().any()

Date                  False
Symbol                False
Series                False
Prev_Close            False
Open                  False
High                  False
Low                   False
Last                  False
Close                 False
VWAP                  False
Volume                False
Turnover              False
Trades                False
Deliverable_Volume    False
%Deliverble           False
dtype: bool

In [8]:
stock_dataset_1.columns[stock_dataset_1.isna().any()].tolist()

[]

# Counting Records in Dataset After Dropping Null Value

In [9]:
print("Original Dataset length:", len(stock_dataset))
print("After dropping null value Dataset length:", len(stock_dataset_1)) 
print("Number of rows to be drop having at least 1 null value: ", (len(stock_dataset)-len(stock_dataset_1)))

Original Dataset length: 235192
After dropping null value Dataset length: 120344
Number of rows to be drop having at least 1 null value:  114848